/* Light mode (default) */
body {
    font-family: "IBM Plex Serif", serif;
    margin: 10px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    transition: color 0.3s;
    font-weight: 700;
}

p {

}

/* Dark mode */
body.dark-mode {
    background-color: #1a1a1a;
    color: #f0f0f0;
}

body.dark-mode h1 {
    color: #bb86fc;
}

.dark-btn {
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 2px;
    border: 0px solid #ccc;
    background-color: #f0f0f0;
    color: #333;
    font-size: 14px;
    transition: all 0.3s;
}

body.dark-mode .dark-btn {
    background-color: #333;
    color: #f0f0f0;
    border-color: #555;
}
